<!DOCTYPE html>

<title>Mass labeling</title>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="<%= fromPublic('bundles/css/assessment.css') %>">

<script src="<%= fromPublic('bundles/vendor.js') %>"></script>

<div class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Mass labeling</a>
		</div>

		<ul class="nav navbar-nav">
		  <li><a href="/instruction" target="_blank"><%= getText('tutorial') %></a></li>
		</ul>

		<div class="navbar-right">
			<ul class="nav navbar-nav">
				<li>
					<a href="#" class="btn-help" data-toggle="modal" data-target="#help">
						<i class="fa fa-question-circle"></i>
					</a>
				</li>
			</ul>

			<p class="navbar-text" title="<%= getText('scored_limit') %>">
        		<%= getText('scored') %>:
				<span id="markup-count"><%= count %></span>
				/
				<%= limit === Infinity ? '∞' : limit %>
			</p>

      		<% include ./partials/lang-switcher %>

			<p class="navbar-text"><%= user.email %></p>

			<ul class="nav navbar-nav">
				<% if (user && user.role === 'admin') { %>
				  <li><a href="/config"><%= getText('settings') %></a></li>
				<% } %>

				<li><a href="#" id="logout"><%= getText('logout') %></a></li>
			</ul>
		</div>
	</div>
</div>

<div class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<% if (entityMode === 'site') { %>
			<p id="answer" class="answer navbar-text"></p>
		<% } %>

		<% if (entityMode === 'form') { %>
			<p id="answer-form" class="answer navbar-text"></p>
		<% } %>

		<% if (entityMode === 'link') { %>
				<span class="answer navbar-text">
					<%= getText('code') %>: <span id="answer-code"></span>
				</span>

				<span class="answer navbar-text">
					<%= getText('algorithm') %>: <span id="answer-algorithm"></span>
				</span>
		<% } %>
	</div>
</div>

<div id="root" class="root">
	<img id="image" />

	<div id="link" class="w-100 text-center" style="margin: 100px auto">
		<a class="h1" href="#" target="_blank"></a>
	</div>

	<div id="form" class="w-100" style="margin: 50px auto; max-width: 460px">
		<h2 id="formIdWraper" style="margin-bottom: 25px">
			Id: <span></span>
		</h2>

		<!-- Форма -->
		<form>
			<!-- ФИО -->
			<div id="fullnameGroup" style="margin-bottom: 25px">
				<p><%= getText('fullname') %></p>
				<input type="text" class="form-control fullnameField" style="margin-bottom: 10px" />
			</div>
			<!-- /ФИО -->

			<!-- Группа полей 'Опыт работы (Project experience)' -->
			<h3 style="margin-bottom: 10px"><%= getText('project_experience') %></h3>
			<div id="projectExperienceGroup" style="margin-bottom: 25px">
				<button type="button" class="btn btn-primary addProjectExperienceFormGroupItemToDOM" style="margin-bottom: 10px">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= getText('add') %>
				</button>
			</div>
			<!-- /Группа полей 'Опыт работы (Project experience)' -->

			<!-- Полный опыт работы -->
			<div id="fullExperienceGroup" style="margin-bottom: 25px">
				<p><%= getText('full_experience') %></p>
				<input type="number" class="form-control fullExperienceField" style="margin-bottom: 10px" />
			</div>
			<!-- /Полный опыт работы -->

			<!-- Ожидаемая зарплата -->
			<div id="expectedSalaryGroup" style="margin-bottom: 25px">
				<p><%= getText('expected_salary') %></p>
				<input type="number" class="form-control expectedSalaryField" style="margin-bottom: 10px" />
			</div>
			<!-- /Ожидаемая зарплата -->

			<!-- Регион места работы -->
			<div id="regionWorkLocationGroup" style="margin-bottom: 25px">
				<p><%= getText('region_work_location') %></p>
				<input type="text" class="form-control regionWorkLocationField" style="margin-bottom: 10px" />
			</div>
			<!-- /Регион места работы -->

			<!-- Удаленка -->
			<div id="remoteGroup" style="margin-bottom: 25px; text-align: left;">
				<input type="checkbox" class="remoteField" /> <%= getText('remote') %>
			</div>
			<!-- /Удаленка -->

			<!-- Гражданство -->
			<div id="citizenshipGroup" style="margin-bottom: 25px">
				<p><%= getText('citizenship') %></p>
				<input type="text" class="form-control citizenshipField" style="margin-bottom: 10px" />
			</div>
			<!-- /Гражданство -->

			<!-- Занятость -->
			<div id="employmentTypeGroup" style="margin-bottom: 25px">
				<p><%= getText('employment_type') %></p>
				<input type="text" class="form-control employmentTypeField" style="margin-bottom: 10px" />
			</div>
			<!-- /Занятость -->

			<!-- Образование -->
			<h3 style="margin-bottom: 10px"><%= getText('education') %></h3>
			<div id="educationGroup" style="margin-bottom: 25px">
				<button type="button" class="btn btn-primary addEducationsGroupItemToDOM" style="margin-bottom: 10px">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= getText('add') %>
				</button>
			</div>
			<!-- /Образование -->

			<!-- Профессиональные навыки -->
			<h3 style="margin-bottom: 10px"><%= getText('professional_skill') %></h3>
			<div id="professionalSkillGroup" style="margin-bottom: 25px">
				<button type="button" class="btn btn-primary addProfessionalSkillGroupItemToDOM" style="margin-bottom: 10px">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= getText('add') %>
				</button>
			</div>
			<!-- /Профессиональные навыки -->

			<!-- Иностранные языки -->
			<h3 style="margin-bottom: 10px"><%= getText('foreign_languages') %></h3>
			<div id="foreignLanguagesGroup" style="margin-bottom: 25px">
				<button type="button" class="btn btn-primary addForeignLanguagesGroupItemToDOM" style="margin-bottom: 10px">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= getText('add') %>
				</button>
			</div>
			<!-- /Иностранные языки -->

			<!-- Ссылки на open source проекты -->
			<h3 style="margin-bottom: 10px"><%= getText('links_to_open_source') %></h3>
			<div id="linksToOpenSourceGroup" style="margin-bottom: 25px">
				<button type="button" class="btn btn-primary addLinksToOpenSourceGroupItemToDOM" style="margin-bottom: 10px">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= getText('add') %>
				</button>
			</div>
			<!-- /Ссылки на open source проекты -->

			<!-- Сторонние проекты -->
			<h3 style="margin-bottom: 10px"><%= getText('other_projects') %></h3>
			<div id="otherProjectsGroup" style="margin-bottom: 25px">
				<button type="button" class="btn btn-primary addOtherProjectsGroupItemToDOM" style="margin-bottom: 10px">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= getText('add') %>
				</button>
			</div>
			<!-- /Сторонние проекты -->

			<!-- Ссылки на социальные сети -->
			<h3 style="margin-bottom: 10px"><%= getText('social_networks') %></h3>
			<div id="socialNetworksGroup" style="margin-bottom: 25px">
				<button type="button" class="btn btn-primary addSocialNetworksGroupItemToDOM" style="margin-bottom: 10px">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <%= getText('add') %>
				</button>
			</div>
			<!-- /Ссылки на социальные сети -->
		</form>
		<!-- /Форма -->
	</div>
</div>

<div id="help" class="modal fade">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"><%= getText('info') %></h4>
			</div>
			<div class="modal-body">
				<h4><%= getText('management') %></h4>
				<p><%= getText('keyboard_management') %>:</p>
				<table class="table">
					<tr>
						<td>1-9</td>
						<td><%= getText('set_score_1_9') %></td>
					</tr>
					<tr>
						<td>0</td>
						<td><%= getText('set_score_10') %></td>
					</tr>
					<tr>
						<td>X</td>
						<td><%= getText('mark_as_broken') %></td>
					</tr>
					<tr>
						<td>Enter</td>
						<td><%= getText('save_score') %></td>
					</tr>
					<tr>
						<td>Backspace</td>
						<td><%= getText('undo_last_choice') %></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="overdose" class="overdose container">
	<div class="jumbotron">
		<h1><%= getText('limit_reached') %></h1>
	</div>
</div>

<script>
	window.markupCount = <%= count %>;
	window.markupLimit = <%= limit %>;
	window.activeTaskSetId = "<%= activeTaskSetId %>";

  	window.signs = <%- JSON.stringify(frontSigns()) %>;
</script>

<script src="<%= fromPublic('bundles/assessment.js') %>"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
