<h1><%= brokenTitle %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<% if (entityMode === 'site' || entityMode === 'link') { %>
				<th>URL</th>
			<% } %>
			<% if (entityMode === 'form') { %>
				<th><%= getText('person') %></th>
			<% } %>

			<% if (entityMode === 'site') { %>
				<th><%= getText('screenshot') %></th>
			<% } %>

			<th><%= getText('check_result') %></th>
		</tr>
	</thead>
	<tbody>
		<% sites.forEach(site => { %>
			<tr>
				<% if (entityMode === 'site' || entityMode === 'link') { %>
					<td><a href="<%= site.url %>" target="_blank"><%= site.url %></a></td>
				<% } %>
				<% if (entityMode === 'form') { %>
					<td><%= site.url %></td>
				<% } %>

				<% if (entityMode === 'site') { %>
					<td><a href="/api/site/<%= site.id %>/screenshot" target="_blank"><%= getText('screenshot') %></a></td>
				<% } %>

				<td>
					<button type="button" class="btn btn-success btn-xs approve" data-id="<%= site.id %>">
						<%= getText('is_working') %>
				  	</button>
					<button type="button" class="btn btn-danger btn-xs disable" data-id="<%= site.id %>">
						<%= getText('is_broken') %>
					</button>
				</td>
			</tr>
		<% }) %>
	</tbody>
</table>


<script>
  window.signs = <%- JSON.stringify(frontSigns()) %>;
</script>


<script src="<%= fromPublic('bundles/broken.js') %>"></script>
